@charset "UTF-8";
/* CSS Document */

/*Content aligned to center*/
#sidebar{
	float:left;
	width:200px;
	font-family:"Comic Sans MS", cursive, sans-serif;
}
#game{
	align-content:center;
	}
body{
	/*Image for background*/
	background-image: url("images/jacksworld.jpg"); 
	color: white;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:30px;
}

.void{
	width: 110px;
	height:110px;
	border-radius: 50%;
	background-color:black;
	margin: 14px;	
	padding: 75px;
}
/*Parameters for non-active tags*/
#start{
	width: 100px;
	height: 50px;
	background-image: url("images/start.png");
	}
/*Image for start button to start mole game*/
.active{
	background-image:url('../images/godjack.jpg');
	width: 110px;
	height:110px;
	border-radius: 50%;
	margin: 14px;	
	padding: 75px;
	}
	.active1{
	background-image:url('../images/godjack.jpg');
	width: 110px;
	height:110px;
	border-radius: 50%;
	margin: 14px;	
	padding: 75px;
	}
/**/
	
	.silver{
	background-image:url('images/dogjack.jpeg');
	width: 110px;
	height:110px;
	border-radius: 50%;
	margin: 14px;	
	padding: 75px;	
	}
.deathmole{
	background-image:url('images/erin.jpeg');
	width: 110px;
	height:110px;
	border-radius: 50%;
	margin: 14px;	
	padding: 75px;


	}
.badmole{
	background-image:url('images/sundae.jpg');
	width: 110px;
	height:110px;
	border-radius: 50%;
	margin: 14px;	
	padding: 75px;


	}
	#title{
		font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
		font-size:24px;
		color: white;
		
		}
#startpage{
	font-size:xx-large;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	color: white;
	}
	#linkbutton{
		width:700px;
		height: 500px;
		background-image:url('images/sundae.jpg');
		font-size:100px;
		font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif}
		#menubutton{
		width:300px;
		height: 300px;
		border-radius: 50%;
		font-size:50px;
		font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
		background-image: url('images/jackcreep.jpg');
		color: purple;}
		#tutorialbutton{
		width:300px;
		height: 300px;
		border-radius: 50%;
		font-size:50px;
		font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
		background-image: url('images/jackcreep.jpg');
		color: purple;}
		#skinshop{
			font-size:50px}
		.font{
			font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
			font-size:36px;
	}