@charset "UTF-8";
/* CSS Document */

<<<<<<< HEAD
=======
#mole{
border-radius: 50%;
background-color: black
}
.body{
background-image: images/jacksworld.jpg
}
.grid{
	align-content:center
	}
>>>>>>> c6a4689a23486fcc9af3995c8b16369e255d8000
body{
	background-image: url("images/jacksworld.jpg");
	color: white;
}
.grid{
	align-content:center;
	}
#mole{
	width: 60px;
	height:60px;
	border-radius: 50%;
	background-color: white;
}
<<<<<<< HEAD

=======
>>>>>>> c6a4689a23486fcc9af3995c8b16369e255d8000
