@charset "UTF-8";
/* CSS Document */


.grid{
	align-content:center
	}

body{
	background-image: url("images/jacksworld.jpg");
	color: white;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif
}
.grid{
	align-content:center;
	}
.void{
	width: 110px;
	height:110px;
	border-radius: 50%;
	background-color:black;
	margin: 14px;	
	padding: 75px;


}
#start{
	width: 100px;
	height: 50px;
	background-image: url("images/start.png");
	}

